<article class="post">
  <div class="title">
    <a href="{{format_url id}}" target="_blank">{{post_title}}</a>
  </div>
  <div class="meta">
    <span>Created by {{user.username}} on {{format_date createdAt}} | {{comments.length}}
      {{format_plural "comment" comments.length}}</span>
  </div>
</article>